<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="NepProjectDBEntities"
      connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.124.162)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SID=dfdb)));password=nepapp02admin;persist security info=True;user id=nep_app02;Connection Lifetime=1500"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="WEBSITE_URL" value="http://project.dep.go.th" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMS_SERVICE_URL" value="http://www.thaismartsms.com/api/api.php" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMS_SENDER" value="DEPFUND" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMS_SERVICE_USERNAME" value="mgsolution" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMS_SERVICE_PASSWORD" value="123456" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>