<template id="k-radio">

    <v-container fluid>
        {{topic}}
        <v-radio-group ref="myRadio" v-model="obj[fld]" row required :rules="[v => !!v || 'กรุณาเลือกคำตอบ']" :disabled="viewmode">
            <v-radio label="มากที่สุด" value="5"></v-radio>
            <v-radio label="มาก" value="4"></v-radio>
            <v-radio label="ปานกลาง" value="3"></v-radio>
            <v-radio label="น้อย" value="2"></v-radio>
            <v-radio label="น้อยที่สุด" value="1"></v-radio>
        </v-radio-group>
    </v-container>
</template>
<style>
    .v-application--wrap {
        min-height: 0px;
    }
</style>
<div id="appParticipantSurvey">
    <v-app id="inspire" style="min-height: 0px">
        <div>
            <v-form ref="form"
                    v-model="formValid"
                    lazy-validation>
                <v-app-bar dense
                           dark
                           fixed>


                    <v-toolbar-title>
                        แบบติดตามประเมินผลโครงการ (สำหรับผู้เข้าร่วมโครงการ)
                    </v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon @click="SaveData" :disabled="formDisabled">
                        <v-icon>mdi-content-save</v-icon>
                    </v-btn>

                </v-app-bar>
                <br />
                <br />
                <v-expansion-panels multiple
                                    :disabled="formDisabled">
                    <v-expansion-panel>
                        <v-expansion-panel-header>เกณฑ์ทั่วไป</v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-expansion-panels multiple
                                                :disabled="formDisabled">

                                <v-expansion-panel>
                                    <v-expansion-panel-header>1. ความสอดคล้อง</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <k-radio topic="1.1 โครงการสามารถตอบสนองความต้องการและแก้ไข ปัญหาของกลุ่มเป้าหมายได้" :obj="result" fld="radio_g_1_1" :viewmode.sync="formDisabled"></k-radio>
                                        <k-radio topic="1.2 โครงการนี้มีความสำคัญต่อการแก้ไขกับปัญหาที่ กลุ่มเป้าหมายกำลังเผชิญอยู่" :obj="result" fld="radio_g_1_2" :viewmode.sync="formDisabled"></k-radio>
                                        <k-radio topic="1.3 โครงการนี้ได้ส่งผลดีต่อกลุ่มบุคคล ชุมชน และสังคม" :obj="result" fld="radio_g_1_3" :viewmode.sync="formDisabled"></k-radio>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>2. ประสิทธิภาพ</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <k-radio ref="test" topic="2.1 การดำเนินงานของโครงการนี้มีความเหมาะสม คุ้มค่าในระดับใด" :obj="result" fld="radio_g_1_1" :viewmode.sync="formDisabled"></k-radio>
                                        <k-radio topic="2.2 โครงการนี้มีการจัดสรรทรัพยากร (เงิน, คน, วัสดุอุปกรณ์,วิธีการ) ในการดำเนินโครงการได้อย่างเป็นระบบ" :obj="result" fld="radio_g_1_2" :viewmode.sync="formDisabled"></k-radio>
                                        <k-radio topic="2.3 โครงการนี้มีการวางแผนการดำเนินงานโดยใช้ทรัพยากรที่มีอยู่อย่างจำกัดให้เกิดประโยชน์สูงสุด" :obj="result" fld="radio_g_1_3" :viewmode.sync="formDisabled"></k-radio>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel>
                        <v-expansion-panel-header>เกณฑ์เฉพาะ</v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-expansion-panels multiple
                                                :disabled="formDisabled">

                                <v-expansion-panel>
                                    <v-expansion-panel-header>1. ความสอดคล้อง</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <k-radio topic="1.1 โครงการสามารถตอบสนองความต้องการและแก้ไข ปัญหาของกลุ่มเป้าหมายได้" :obj="result" fld="radio_g_1_1" :viewmode.sync="formDisabled"></k-radio>
                                        <k-radio topic="1.2 โครงการนี้มีความสำคัญต่อการแก้ไขกับปัญหาที่ กลุ่มเป้าหมายกำลังเผชิญอยู่" :obj="result" fld="radio_g_1_2" :viewmode.sync="formDisabled"></k-radio>
                                        <k-radio topic="1.3 โครงการนี้ได้ส่งผลดีต่อกลุ่มบุคคล ชุมชน และสังคม" :obj="result" fld="radio_g_1_3" :viewmode.sync="formDisabled"></k-radio>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>2. ประสิทธิภาพ</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <k-radio ref="test" topic="2.1 การดำเนินงานของโครงการนี้มีความเหมาะสม คุ้มค่าในระดับใด" :obj="result" fld="radio_g_1_1" :viewmode.sync="formDisabled"></k-radio>
                                        <k-radio topic="2.2 โครงการนี้มีการจัดสรรทรัพยากร (เงิน, คน, วัสดุอุปกรณ์,วิธีการ) ในการดำเนินโครงการได้อย่างเป็นระบบ" :obj="result" fld="radio_g_1_2" :viewmode.sync="formDisabled"></k-radio>
                                        <k-radio topic="2.3 โครงการนี้มีการวางแผนการดำเนินงานโดยใช้ทรัพยากรที่มีอยู่อย่างจำกัดให้เกิดประโยชน์สูงสุด" :obj="result" fld="radio_g_1_3" :viewmode.sync="formDisabled"></k-radio>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>

            </v-form>

        </div>


    </v-app>
</div>